@import '../../../scss/index.sass';

.header-profile{
  display: flex;
  align-items: center;
  
  h2{
    button{
      padding: 6px 20px  !important;
      margin-left: 10px !important;
      background-color: transparent !important;
      border: 1px solid $border-grey !important;

    }
  }
}