@import '../../../scss/index.sass';
.avatar-form{
  .button{
    width: 100% !important;
    background-color: $background-light;
    &:nth-child(1){
      color: $action;
    }
    &:nth-child(2){
      color: $danger;
    }
  }
}